Building configuration...

Current configuration : 3779 bytes
!
! Last configuration change at 21:26:38 UTC Sun Mar 16 2025
version 15.3
service timestamps debug datetime msec
service timestamps log datetime msec
no service password-encryption
!
hostname skuas_router01
!
boot-start-marker
boot-end-marker
!
aqm-register-fnf
!
no logging console
!
no aaa new-model
!
ip dhcp pool VLAN10
 network 10.1.1.0 255.255.255.0
 default-router 10.1.1.1
 dns-server 8.8.8.8
 lease 7
!
ip dhcp pool vlan10
!
ip dhcp pool vlan30
 network 192.168.30.0 255.255.255.0
 default-router 192.168.30.1
 dns-server 8.8.8.8 8.8.4.4
 lease 7
!
ip dhcp pool vlan40
 network 172.16.40.0 255.255.255.0
 default-router 172.16.40.1
 dns-server 8.8.8.8 8.8.4.4
!
ip dhcp pool vlan50
 network 172.16.50.0 255.255.255.0
 default-router 172.16.50.1
 dns-server 8.8.8.8 8.8.4.4
!
ip dhcp pool vlan60
 network 20.60.60.0 255.255.255.0
 default-router 20.60.60.1
 dns-server 8.8.8.8 8.8.4.4
!
ip dhcp pool vlan70
 network 20.70.70.0 255.255.255.0
 default-router 20.70.70.1
 dns-server 8.8.8.8 8.8.4.4
!
ip cef
no ipv6 cef
!
multilink bundle-name authenticated
!
!
license udi pid C891F-K9 sn FCZ1938918Y
!
interface BRI0
 no ip address
 encapsulation hdlc
 shutdown
 isdn termination multidrop
!
interface FastEthernet0
 no ip address
 shutdown
 duplex auto
 speed auto
!
interface GigabitEthernet0
 description Connection to Switch
 switchport access vlan 10
 no ip address
!
interface GigabitEthernet1
 switchport access vlan 30
 no ip address
!
interface GigabitEthernet2
 no ip address
!
interface GigabitEthernet3
 no ip address
!
interface GigabitEthernet4
 no ip address
!
interface GigabitEthernet5
 switchport access vlan 70
 no ip address
!
interface GigabitEthernet6
 no ip address
!
interface GigabitEthernet7
 description Trunk to Cisco 3560cx switch
 switchport mode trunk
 no ip address
!
interface GigabitEthernet8
 description ISP Connection
 ip address dhcp
 ip nat outside
 ip virtual-reassembly in
 duplex auto
 speed auto
!
interface Vlan1
 ip address dhcp
!
interface Vlan10
 description management-network
 ip address 10.1.1.1 255.255.255.0
 ip nat inside
 ip virtual-reassembly in
!
interface Vlan30
 description Home-network
 ip address 192.168.30.1 255.255.255.0
 ip nat inside
 ip virtual-reassembly in
!
interface Vlan40
 description dev-network
 ip address 172.16.40.1 255.255.255.0
 ip nat inside
 ip virtual-reassembly in
 history PPS
!
interface Vlan50
 description qa-network
 ip address 172.16.50.1 255.255.255.0
 ip nat inside
 ip virtual-reassembly in
!
interface Vlan60
 description prod-network
 ip address 20.60.60.1 255.255.255.0
 ip nat inside
 ip virtual-reassembly in
!
interface Vlan70
 description dmz-network
 ip address 20.70.70.1 255.255.255.0
 ip nat inside
 ip virtual-reassembly in
!
interface Async3
 no ip address
 encapsulation slip
!
ip forward-protocol nd
no ip http server
no ip http secure-server
!
!
ip nat inside source list 100 interface GigabitEthernet8 overload
ip route 0.0.0.0 0.0.0.0 GigabitEthernet8
ip route 0.0.0.0 0.0.0.0 dhcp
!
!
access-list 100 permit ip 172.16.40.0 0.0.0.255 any
access-list 100 permit ip 172.16.50.0 0.0.0.255 any
access-list 100 permit ip 10.1.1.0 0.0.0.255 any
access-list 100 permit ip 192.168.30.0 0.0.0.255 any
access-list 100 permit ip 20.60.60.0 0.0.0.255 any
access-list 100 permit ip 20.70.70.0 0.0.0.255 any
!
control-plane
!
!
!
mgcp behavior rsip-range tgcp-only
mgcp behavior comedia-role none
mgcp behavior comedia-check-media-src disable
mgcp behavior comedia-sdp-force disable
!
mgcp profile default
!
!
line con 0
 no modem enable
line aux 0
line 3
 modem InOut
 speed 115200
 flowcontrol hardware
line vty 0 4
 login
 transport input all
!
scheduler allocate 20000 1000
!
end
